* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ccdbd9;
  color: #333;
}

.login {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
}

.login h1 {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Poppins", sans-serif;
  font-size: 54px;
  margin-bottom: 5%;
}

.login label {
  font-size: 12px;
  color: #555;
  font-family: "Poppins", sans-serif;
  display: block;
}

.login input {
  width: 25vw;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-family: "Poppins", sans-serif;

}

.login button {
  width: 25vw;
  padding: 10px;
  background-color: #0a4784;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.login p, .login a {
  margin-top: 8px;
  font-size: 12px;
  color: #555;
  font-family: "Poppins", sans-serif;
}

.login a {
  color: #2592ff;
}

.login a:hover {
  text-decoration: underline;
  color: rgb(121, 143, 163);
}