<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro de Usuário</title>
    <link rel="stylesheet" href="/views/css/Login.css">
</head>
<body>
    <div class="login">
        <h1>Cadastre-se</h1>
        <% if (typeof error !== 'undefined') { %>
            <div class="error"><%= error %></div>
        <% } %>
        <% if (typeof success !== 'undefined') { %>
            <div class="success"><%= success %></div>
        <% } %>
        <form action="/usuarios" method="POST">
            <label for="nome">Nome:</label>
            <input type="text" name="nome" placeholder="Insira seu nome" required>
            <br>
            <label for="email">Email:</label>
            <input type="email" name="email" placeholder="Insira seu e-mail" required>
            <br>
            <label for="senha">Senha:</label>
            <input type="password" name="senha" placeholder="Insira sua senha" required>
            <br>
            <button type="submit">Cadastrar</button>
        </form>
    </div>
</body>
</html>